/*
* @Author: Administrator
* @Date:   2017-06-19 20:38:21
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-19 20:39:19
*/


/*css 初始化 */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  /*在低版本的ie浏览器里面不支持*/
  outline-style: none;
}

ul,
ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}


/*禁止手动修改大小*/

textarea {
  resize: none;
}


/*去掉图片底部默认空白缝隙*/

img {
  border: 0;
  vertical-align: middle;
}


/*合并外连线*/

table {
  /*表格的单元格边框默认是不会重合的，这个属性可以让表格的边框重合在一起，看起来更加细一些*/
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

html {
  width: 100%;
  //height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 16px;
  color: #3F4457;
  background-color: #fff;
  width: 100%;
  min-width: 1024Px;
  height: 100vh;
}


/*清除浮动*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s,
i,
em {
  font-style: normal;
  text-decoration: none;
}


/*公共类*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.hide {
  display: none;
}

.el-header{
  padding: 0 0;
  margin: 0 0;
}
/* 内容水平垂直居中 */
.centerShow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

/* 外部盒子主样式 */
#app {
  width: 100%;
  left: 0;
  right: 0;
  margin: 0;
}

.el-checkbox__inner {
  &::after {
    transition: none !important;
    -webkit-transition:none !important;
    -webkit-transform-origin: center !important;
    transform-origin:center !important;
  }
  border: 1px solid #dddddd !important;
}
.el-input__icon{
  transition: none !important;
}
.el-select .el-input .el-select__caret{
  transition: none !important;
  -webkit-transition: none !important;
}
.el-input__inner{
  transition: none !important;
  -webkit-transition: none !important;
  border-width: 1px!important;
}
.el-input__suffix{
  transition: none !important;
  -webkit-transition: none !important;
}
.el-loading-mask{
  background: none !important;
}
.el-loading-spinner{
  width: 200px !important;
  height: 200px !important;
  border-radius: 6px!important;
  left: 50%!important;
  top: 50%!important;
  transform: translate(-50%, -50%)!important;
  -ms-transform: translate(-50%, -50%)!important;
  -webkit-transform: translate(-50%, -50%)!important;
  -o-transform: translate(-50%, -50%)!important;
  -moz-transform: translate(-50%, -50%)!important;
  background-color: rgba(0, 0, 0, 0.7)!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
}
.pagination{
  margin-top: 30px;
}

.el-submenu__title {
  padding: 0 10px !important;
  font-size: 18px !important;
  height: 40px;
  line-height: 40px;

  &:hover {
    background-color: #4486FF !important;
  }
}

.el-submenu .el-menu-item {
  min-width: 100px !important;
  padding: 0 0 !important;
  height: 40px;
  line-height: 40px;
}

.el-menu-item-group__title {
  padding: 0 0 !important;
}

.el-submenu__icon-arrow {
  right: 10px !important;
}

.el-submenu__title i {
  color: #ffffff !important;
}

.el-submenu__title span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 10px;
}

.el-pagination{
  .el-pager{
    .active{
      background-color: #4486ff!important;
    }
  }
}
.el-button--primary{
  background-color: #4486ff!important;
}
.el-button--danger{
  background-color: #f65860!important;
}
.el-button--info{
  color: #ffffff!important;
  background-color: #bbbbbb!important;
}

.el-button{
  line-height: 30px;
  text-align: center;
  padding: 0 0!important;
  border:none !important;
  width: 95px;
  height: 30px;
  font-size: 16px;
}
.el-textarea__inner{
  border:1px solid #dddddd!important;
}
.el-message-box__btns{
  .el-button--default{
    &:nth-child(1){
      background-color: #bbbbbb;
      color:#ffffff;
    }
  }
}

/*css初始化完成*/
