// 兼容1024屏幕
@media screen and (max-width: 1300px){
  .accountManage .accountSearch{
    .commonTextInput{
      &:nth-child(1), &:nth-child(2){
        .iconText{
          width: 105px;
          text-align: right;
        }
      }
    }
  }
}
.accountManage {
  padding: 30px 20px 10px 20px;
  height: 100%;
  box-sizing: border-box;

  .flexBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100%;
    box-sizing: border-box;
  }

  .paddingBox {
    padding: 30px 0;
  }

  .pagination{
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .accountSearch{
    display: flex;
    background-color: #F0F2F5;
    .commonTextInput, .commonSelector{
      margin-right: 20px;
    }
    .iconText{
      width: 65px;
      text-align: right;
    }
    .major{
      height: 30px;
      padding: 0 10px;
      margin-right: 0px;
      span{
        line-height: 30px;
      }
    }
  }

  .accountManageContent {
    width: 100%;
    //min-height: 820px;
    //max-height: 972px;
    padding: 0 18px;;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;

    .major {
      padding: 0 20px;
      height: 30px;
      margin: 0 0;

      span {
        line-height: 30px;
      }
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 10px;
      height: 4px;
      top: 28px;
      left: 0;
      background-color: #4486FF;
    }

    .personTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        line-height: 60px;
        color: #3F4457;
        font-size: 16px;
      }
    }

    .personContent {
      padding: 0 22px;
      width: 100%;
      box-sizing: border-box;

      .noneData{
        text-align: center;
        color: #ADB0B5;
        line-height: 50px;
        font-size: 16px;
      }

      .personTable {
        display: table;
        width: 100%;
        border: 1px solid #DDDDDD;
        border-collapse: collapse;

        .tableCell {
          height: 50px;
          text-align: center;
          font-size: 16px;
          vertical-align: middle;
          box-sizing: border-box;
          display: table-cell;
        }

        .tableHeader {
          display: table-header-group;
          border-bottom: 1px solid #DDDDDD;
          background-color: #F3F3F3;
          color: #666666;

          .tableCell {
            height: 38px;
          }

          .index {
            width: 5%;
          }

          .name, .nickname, .account, .state {
            width: 15%;
          }

          .range {
            width: 16%;
          }

          .handle {
            width: 19%;
          }
        }

        .tableRow {
          display: table-row;
          border-bottom: 1px solid #DDDDDD;

        }
      }
    }

  }
}
