.assignPersonInfo{
  .assignPersonInfoTitle{
    padding: 8px 0;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
  }
  .illnessHistory{
    .iconText{
      width: 65px;
    }
  }
  .assignPersonInfoSubTitle{
    text-indent: 17px;
    text-align: left;
    padding-bottom: 20px;
  }
  .illnessInfo{
    display: flex;
    >div{
      margin-right: 46px;
    }
  }
}
