@media screen and (max-width: 1300px){
  .baseInfo{
    .commonTextInput .commonTextInputContent{
      .iconText{
        width: 90px;
      }
      .inputType{
        width: 185px;
      }
    }
  }
  .privateInfo{
    .commonTextInput{
      &:nth-child(1){
        .iconText{
          width: 90px!important;
        }
      }
      &:nth-child(1), &:nth-child(2){
        .inputType{
          width: 56px!important;
        }
      }
      &:nth-last-child(1){
        .inputType{
          width: 185px;
        }
      }
    }
  }
  .personCategory{
    .category{
      width: 95px!important;
    }
  }
  .serviceItems{
    .itemsTitle{
      width: 90px!important;
    }
  }
}
.assignSigner {
  border-bottom: 1px solid #DDDDDD;
  .refused, .canceled, .retracted, .overTimed {
    color: #F65860;
    line-height: 30px;
  }
  .assignSignerTitle {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 20px;
    .title{
      text-align: left;
      font-weight: bold;
      font-size: 18px;
    }
    .major{
      width: 80px;
      height: 30px;
      padding: 0 0;
      margin: 0 0;
      span{
        line-height: 30px;
      }
    }
  }

  .baseInfo {
    display: flex;

    > div {
      margin-right: 30px;

      &:nth-last-child(1) {
        margin: 0;
      }
    }

    .iconText {
      width: 75px;
      text-align: right;
    }
  }

  .privateInfo {
    display: flex;

    > div {
      &:nth-child(1) {
        margin-right: 15px;

        .iconText {
          width: 75px;
        }

        .inputType {
          width: 70px;
        }
      }

      &:nth-child(2) {
        margin-right: 35px;

        .inputType {
          width: 70px;
        }
      }
    }
  }

  .personCategory {
    display: flex;

    .category {
      width: 75px;
      margin-right: 8px;
      /*flex:1;*/
    }

    .el-checkbox-group {
      font-size: 16px;
      flex: 18;
      display: flex;
      flex-wrap: wrap;

      .el-checkbox {
        padding: 0 0;
        margin: 0 0;
        margin-right: 40px;
        margin-bottom: 30px;

        /*&:nth-child(8) {*/
        /*margin: 0;*/
        /*}*/

        > span {
          float: left;
        }

        .el-checkbox__input {
          width: 20px;
          height: 20px;
          padding: 0 0;
          margin: 0 0;

          .el-checkbox__inner {
            width: 100%;
            height: 100%;

            &::after {
              font-size: 20px;
              line-height: 20px;
              left: 38%;
              top: 23%;
              /*border: 2px solid #FFF;*/
              border-left: 0;
              border-top: 0;
              transition: none;
              -webkit-transition:none;
              -webkit-transform-origin: center;
              transform-origin:center;
            }
          }
        }

        .el-checkbox__label {
          margin: 0 0;
          padding: 0 0;
          margin-left: 10px;
        }
      }

    }
  }

  .signServicePackage {
    display: flex;
    margin-bottom: 30px;

    .signPackages {
      margin-right: 8px;
    }

    .serviceType {
      cursor: pointer;
      margin-right: 10px;
      .info{
        color: #29CB97;
      }
    }
  }

  .serviceItems {
    display: flex;
    .itemsTitle{
      /*flex: 1;*/
      width: 75px;
      text-align: right;
      line-height: 30px;
      margin-right: 8px;
    }
    .items{
      flex: 18;
      display: flex;
      flex-wrap: wrap;
      .item{
        /*width: 146px;*/
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border:1px solid #DDDDDD;
        box-sizing: border-box;
        margin-right: 20px;
        margin-bottom: 30px;
        /*&:nth-child(7n){*/
        /*margin-right: 0;*/
        /*}*/
      }
    }
  }
}
