.commonAreaSelector {
  font-size: 16px;
  line-height: 30px;

  .province, .city, .area {
    margin-left: 6px;

    .el-select, .el-input, .el-input__inner {
      width: 82px;
      height: 30px;
    }

    .iconText {
      margin-left: 8px;
    }
  }

  .selection {
    width: 80px;
    height: 30px;

    input {
      width: 75px;
      height: 30px;
      font-size: 16px;
      &::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #BABABA;
      }

      &:-moz-placeholder, textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #BABABA;
      }

      &::-moz-placeholder, textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #BABABA;
      }

      &:-ms-input-placeholder, textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #BABABA;
      }
    }

    .el-input__icon {
      line-height: 30px;
    }

    .el-input__inner {
      padding-left: 4px;
    }
  }

  .street, .village, .address {
    margin-left: 6px;
  }

  .street, .village {
    .el-select {
      margin-left: 8px;
    }

    .el-select, .el-input, .el-input__inner {
      width: 140px;
      height: 30px;
    }
  }

  .address {
    .commonTextInput {
      .commonTextInputContent {
        .inputType {
          width: 300px;
          height: 30px;
        }
      }
    }

  }
}
