.homeChooseTeam {
  width: 1182px;
  padding: 40px;
  .signTable{
    margin: 0 auto;
    display: table;
    width: 100%;
    border:1px solid #DDDDDD;
    border-collapse: collapse;
    table-layout: fixed;

    .tableCell {
      height: 38px;
      text-align: center;
      font-size: 16px;
      vertical-align: middle;
      box-sizing: border-box;
      display: table-cell;
      text-overflow: ellipsis;
      overflow: hidden;
      //word-break: break-all;
      white-space: nowrap;
      >div{
        text-overflow: ellipsis;
        overflow: hidden;
        //word-break: break-all;
        white-space: nowrap;
        width: 100%;
      }
      .el-button{
        width: 86px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        padding: 0 0;
      }
    }
    .tableHeader {
      display: table-header-group;
      border-bottom: 1px solid #DDDDDD;
      background-color: #F3F3F3;
      color: #666666;
      box-sizing: border-box;
    }
    .tableRow{
      display: table-row;
      border-bottom: 1px solid #DDDDDD;
      box-sizing: border-box;
    }
    .index {
      width: 5%;
    }
    .organization, .teamName, .code{
      width: 28%;
    }
    .handle{
      width: 11%;
    }
  }
}
