.authorityColumn {
  display: table-row;
  .authorityTableCell {
    display: table-cell;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
  }
  .handleAuthority{
    color: #747783;
    text-align: left;
    box-sizing: border-box;
    .el-checkbox-group{
      padding-left: 35px;
    }
  }
  .showPages{
    color: #747783;
    text-align: left;
    box-sizing: border-box;
    line-height: 50px;
    .el-checkbox{
      padding-left: 27px;
      margin: 0 0;
      display: block;
    }
  }
  .selectAll{
    color: #747783;
    text-align: left;
    line-height: 50px;
    .el-checkbox{
      padding-left: 35px;
      margin: 0 0;
      display: block;
    }
  }
  .selectAll {
    width: 90px;
  }

  .handleAuthority {
    width: 540px;
  }

  .showPages {
    width: 164px;
  }

  .showAuthority {
    width: 350px;
  }
}
