.teamManage{
  padding: 30px 20px 10px 20px;
  height: 100%;
  box-sizing: border-box;
  .paddingBox {
    padding: 30px 0;
    .iconText{
      width: 85px;
      margin-right: 10px;
    }
  }
  .flexBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100%;
    box-sizing: border-box;
  }
  .pagination{
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .teamSearch{
    display: flex;
    background-color: #F0F2F5;
    .commonTextInput{
      margin-right: 47px;
    }
    .iconText{
      width: 65px;
    }
    .major{
      margin: 0 0;
      margin-left: 60px;
    }
  }
  .roleManageContent {
    width: 100%;
    //min-height: 760px;
    //max-height: 912px;
    padding: 0 18px;;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;

    .major{
      margin: 0 5px;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 10px;
      height: 4px;
      top: 28px;
      left: 0;
      background-color: #4486FF;
    }

    .personTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title{
        line-height: 60px;
        color: #3F4457;
        font-size: 16px;
      }
      .functionBtns{
        margin-right: 22px;
        .el-button{
          margin-left: 20px;
        }
      }
    }

    .personContent{
      padding: 0 22px;
      width: 100%;
      box-sizing: border-box;
      .noneData{
        text-align: center;
        color: #ADB0B5;
        line-height: 50px;
        font-size: 16px;
      }
      .personTable {
        display: table;
        width: 100%;
        border:1px solid #DDDDDD;
        border-collapse: collapse;

        .tableCell {
          height: 50px;
          text-align: center;
          font-size: 16px;
          vertical-align: middle;
          box-sizing: border-box;
          display: table-cell;
        }

        .tableHeader {
          display: table-header-group;
          border-bottom: 1px solid #DDDDDD;
          background-color: #F3F3F3;
          color: #666666;
          .tableCell{
            height: 38px;
          }
          .index {
            width: 6%;
          }
          .leader, .count, .state{
              width: 9%;
          }
          .name, .organization{
            width: 19%;
          }
          .handle{
            width: 28%;
          }
          //.code{
          //  width: 13%;
          //}
        }
        .tableRow{
          display: table-row;
          border-bottom: 1px solid #DDDDDD;

        }
      }
    }

  }
}
